@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-7 blockquote{
	border: 1px solid;
	margin-left: auto;
	margin-right: auto;
	max-width: 15em;
	padding: 1em;
}

#chapter-7 blockquote p:first-of-type{
	font-variant: small-caps;
	text-align: center;
}

#chapter-7 blockquote p:last-of-type{
	font-style: italic;
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

ul{
	list-style-type: none;
	padding: 0;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

#chapter-18 blockquote{
	font-variant: small-caps;
	text-align: center;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}
