@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote.calling-card{
	border-style: solid;
	margin: 1em 15em 1em 15em;
}

p.calling-card:first-of-type{
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
}

p.calling-card:last-of-type{
	text-align: initial;
	padding-bottom: 1em;
}

ul{
	list-style-type: none;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}
