@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-7 blockquote{
	border-style: solid;
	margin: 1em 3em 1em 3em;
}

p.calling-card:first-of-type{
	font-variant: small-caps;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

p.calling-card:last-of-type{
	font-style: italic;
	text-align: initial;
	padding-bottom: 1em;
}

ul{
	list-style-type: none;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

q{
	font-style: italic;
}
